<aside class="customer-sidebar">

  <div class="brand">
    <div class="brand-icon">
      <img src="../../../../assets/logo.png" style="width: 30px;height: 20px;" alt="Dinerly Logo">
    </div>

    <div>
      <h2>Dinerly</h2>
      <p>Guest Portal</p>
    </div>
  </div>

  <p class="section-label">YOUR VISIT</p>

  <nav class="side-nav">
    <button [class.active]="activeTab === 'WAITLIST'" (click)="selectTab('WAITLIST')">
      <i class="fa-regular fa-clock"></i>
      Waitlist
    </button>

    <button [class.active]="activeTab === 'MENU'" (click)="selectTab('MENU')">
      <i class="fa-solid fa-utensils"></i>
      Menu
    </button>

    <button [class.active]="activeTab === 'DISCOUNT'" (click)="selectTab('DISCOUNT')">
      <i class="fa-solid fa-tag"></i>
      Discounts
    </button>

    <!-- <button>
      <i class="fa-regular fa-square-check"></i>
      Orders
    </button>

    <button>
      <i class="fa-regular fa-award"></i>
      Rewards
      <span>🔒</span>
    </button>

    <button>
      <i class="fa-regular fa-star"></i>
      Reviews
      <span>🔒</span>
    </button> -->
  </nav>

  <div class="sidebar-footer" *ngIf="restaurant">
    <p>
      <i class="fa-solid fa-location-dot"></i>
      {{ restaurant.address }}
    </p>

    <p>
      <i class="fa-solid fa-phone"></i>
      {{ restaurant.phone }}
    </p>

    <p>
      <i class="fa-solid fa-envelope"></i>
      {{ restaurant.email }}
    </p>
  </div>

</aside>