<div class="app-wrapper">
  <app-waitlist-navbar></app-waitlist-navbar>

  <router-outlet *ngIf="isWaitingRoute"></router-outlet>

  <ng-container *ngIf="!isWaitingRoute">

    <div class="guest-page">

      <div class="top-grid">
        <app-waitlist-user-hero></app-waitlist-user-hero>

        <app-waitlist-user-sidebar
          (joinedWaitlist)="onJoinedWaitlist($event)">
        </app-waitlist-user-sidebar>
      </div>

      <app-waitlist-user-banner
        (joinedWaitlist)="onJoinedWaitlist($event)">
      </app-waitlist-user-banner>

      <app-waitlist-user-menu></app-waitlist-user-menu>

    </div>

  </ng-container>
</div>