<header class="header">

  <div class="header-left">
    <div class="logo">
      <img src="assets/dinerly.png" alt="Dinerly Logo" class="logo-icon" />
    </div>
  </div>

  <div class="header-right">

    <button
      class="theme-btn"
      type="button"
      (click)="toggleTheme()">
      <i class="fa-solid" [ngClass]="isDarkMode ? 'fa-sun' : 'fa-moon'"></i>
    </button>

    <button class="icon-btn notification-btn" type="button">
      <i class="fa-regular fa-bell"></i>
      <span class="notif-dot"></span>
    </button>

    <button
      class="icon-btn menu-btn"
      type="button"
      (click)="toggleMobileMenu()">
      <i class="fa-solid" [ngClass]="showMobileMenu ? 'fa-xmark' : 'fa-bars'"></i>
    </button>

    <button class="sign-out-btn desktop-signout" type="button" (click)="signOut()">
      Sign out
    </button>

  </div>

  <div class="mobile-menu" *ngIf="showMobileMenu">
    <button type="button" (click)="signOut()">
      <i class="fa-solid fa-right-from-bracket"></i>
      Sign out
    </button>
  </div>

</header>