<div class="waitlist-page">
  <div class="page-header">
    <div>
      <div class="title-row">
        <h1>Live Waitlist</h1>
        <span class="live-badge">Live</span>
      </div>
      <p>Real-time view of all guests in your waitlist</p>
    </div>

    <div class="header-actions">
      <button class="date-btn">{{ currentDateTime }}</button>
    </div>
  </div>

  <div class="section-grid">
    <div class="scroll-container">

      <div class="waitlist-card pending">

        <div class="card-header">
          <div class="d-flex">
            <div>
              <h2>⏳ Pending <span>{{ pendingGuests.length }}</span></h2>
              <p>Awaiting approval</p>
            </div>

          </div>
          <div class="header-actions">
            <button class="refresh-btn" (click)="loadPendingGuests()" [disabled]="isLoading">Refresh</button>
          </div>

        </div>

        <div class="notify-card" *ngFor="let guest of pagedPendingGuests; trackBy: trackBypendingGuest">
          <div class="avatar" [style.color]="getAvatarColor(guest.id).color">
            {{ (guest.id) }}
          </div>
          <div class="notify-info">
            <div class="notify-name-row">
              <span class="notify-name">{{ guest.guestName }}</span>
              <span class="status-badge pending" *ngIf="guest.status === 'PENDING'">Pending</span>
            </div>
            <div class="notify-meta">
              {{ guest.partySize }} guests ·{{ guest.preference.toLocaleLowerCase() }}
            </div>
            <div class="notify-meta">
              {{guest.notes.toLocaleLowerCase() }} · {{ guest.guestPhone }}
            </div>
          </div>
          <div class="notify-actions">
            <button class="approve-btn" (click)="openApproveModal(guest)">✓ </button>
            <button class="reject-btn" (click)="openRejectModal(guest)">✕ </button>
          </div>
        </div>
        <div class="card-footer">
          Pending guests require approval before joining the waitlist.
        </div>
        <div class="pagination-row" *ngIf="pendingGuests.length > itemsPerPage">
          <button (click)="changePage('pending', 'prev')" [disabled]="pendingPage === 1">
            Prev
          </button>
          <span>Page {{ pendingPage }} / {{ pendingTotalPages }}</span>
          <button (click)="changePage('pending', 'next')" [disabled]="pendingPage === pendingTotalPages">
            Next
          </button>
        </div>
      </div>
    </div>


    <div class="scroll-container">

      <div class="waitlist-card waiting">
        <div class="card-header">
          <div class="d-flex">
            <div>
              <h2>🕘 Waiting <span>{{ waitingGuests.length }}</span></h2>
              <p>Approved • Waiting for availability</p>
            </div>

          </div>

          <div class="header-actions">
            <button class="refresh-btn" (click)="loadWaitingGuests()" [disabled]="isLoading">Refresh</button>
          </div>
        </div>

        <div class="notify-card" *ngFor="let guest of pagedWaitingGuests; trackBy: trackBywaitingGuest">
          <div class="avatar" [style.color]="getAvatarColor(guest.id).color">
            {{ (guest.id) }}
          </div>
          <div class="notify-info">
            <div class="notify-name-row">
              <span class="notify-name">{{ guest.guestName }}</span>
              <span class="status-badge waiting" *ngIf="guest.status === 'WAITING'">Waiting</span>
            </div>
            <div class="notify-meta">
              {{ guest.partySize }} guests · estimated waiting time : {{ guest.estimatedWaitTime }} min
            </div>
            <div class="notify-meta">
              {{ guest.guestPhone }}
            </div>
          </div>
          <div class="notify-actions">
            <button class="notify-btn" (click)="notifyToGuestCall(guest.id,guest.estimatedWaitTime,guest.position)">🔔
              Notify</button>
          </div>
        </div>

        <div class="card-footer">These guests are waiting for a table.</div>
      </div>
      <div class="pagination-row" *ngIf="waitingGuests.length > itemsPerPage">
        <button (click)="changePage('waiting', 'prev')" [disabled]="waitingPage === 1">
          Prev
        </button>

        <span>Page {{ waitingPage }} / {{ waitingTotalPages }}</span>

        <button (click)="changePage('waiting', 'next')" [disabled]="waitingPage === waitingTotalPages">
          Next
        </button>
      </div>
    </div>


    <div class="scroll-container">
      <div class="waitlist-card notified">
        <div class="card-header">
          <div>
            <h2>🔔 Notified <span>{{ notifiedGuests.length }}</span></h2>
            <p>Notified • Awaiting arrival</p>
          </div>
          <div class="header-actions">
            <button class="refresh-btn" (click)="loadNotifiedGuests()" [disabled]="isLoading"> Refresh</button>
          </div>
        </div>

        <div class="notify-card" *ngFor="let guest of pagedNotifiedGuests; trackBy: trackBynotifyGuest">

          <div class="avatar" [style.color]="getAvatarColor(guest.id).color">
            {{ guest.id }}
          </div>

          <div class="notify-info">
            <div class="notify-name-row">
              <span class="notify-name">{{ guest.guestName }}</span>
              <span class="status-badge nofity" *ngIf="guest.status === 'NOTIFIED'">
                Notify
              </span>
            </div>

            <div class="notify-meta">
              {{ guest.partySize }} guests · {{ guest.guestPhone }}
            </div>

            <div class="notify-time">
              Notified at: {{ formatDateTime(guest.notifiedAt) }}
            </div>
          </div>

          <div class="notify-actions">
            <button class="seat-btn" (click)="openAvailableTableModal(guest)">
              Seat
            </button>
            <button class="delay-btn">
              Delay
            </button>
          </div>

        </div>

        <div class="card-footer">Guests have been notified. Update wait time if there is a delay.</div>
      </div>
      <div class="pagination-row" *ngIf="notifiedGuests.length > itemsPerPage">
        <button (click)="changePage('notified', 'prev')" [disabled]="notifiedPage === 1">
          Prev
        </button>

        <span>Page {{ notifiedPage }} / {{ notifiedTotalPages }}</span>

        <button (click)="changePage('notified', 'next')" [disabled]="notifiedPage === notifiedTotalPages">
          Next
        </button>
      </div>
    </div>

    <div class="scroll-container">
      <div class="waitlist-card seated">
        <div class="card-header">
          <div>
            <h2>🪑 Seated Today <span>{{ seatedGuests.length }}</span></h2>
            <p>Guests who have been seated</p>
          </div>
          <div class="header-actions">
            <button class="refresh-btn" (click)="loadSeatedGuests()" [disabled]="isLoading"> Refresh</button>
          </div>
        </div>


        <div class="notify-card" *ngFor="let guest of pagedSeatedGuests; trackBy: trackByseatedGuest">
          <div class="avatar" class="avatar">
            {{ (guest.id) }}
          </div>
          <div class="notify-info">
            <div class="notify-name-row">
              <span class="notify-name">{{ guest.guestName }}</span>
              <span class="status-badge seated" *ngIf="guest.status === 'SEATED'">Seated</span>
            </div>
            <div class="notify-meta">
              {{ guest.partySize }} guests · {{ guest.guestPhone }}
            </div>
          </div>
        </div>

        <div class="card-footer">Guests seated today.</div>
      </div>
      <div class="pagination-row" *ngIf="seatedGuests.length > itemsPerPage">
        <button (click)="changePage('seated', 'prev')" [disabled]="seatedPage === 1">
          Prev
        </button>

        <span>Page {{ seatedPage }} / {{ seatedTotalPages }}</span>

        <button (click)="changePage('seated', 'next')" [disabled]="seatedPage === seatedTotalPages">
          Next
        </button>
      </div>
    </div>

    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <div class="scroll-container">
      <div class="waitlist-card cancelled">
        <div class="card-header">
          <div>
            <h2>🪑 Cancelled Today <span>{{ cancelledGuest.length }}</span></h2>
            <p>Guests who have been cancelled today</p>
          </div>
          <div class="header-actions">
            <button class="refresh-btn" (click)="loadCancelledGuests()" [disabled]="isLoading"> Refresh</button>
          </div>
        </div>


        <div class="notify-card" *ngFor="let guest of pagedCancelledGuests ; trackBy: trackBycancelledGuest">
          <div class="avatar" class="avatar">
            {{ (guest.id) }}
          </div>
          <div class="notify-info">
            <div class="notify-name-row">
              <span class="notify-name">{{ guest.guestName }}</span>
              <span class="status-badge cancelled" *ngIf="guest.status === 'CANCELLED'">CANCELLED</span>
            </div>
            <div class="notify-meta">
              {{ guest.partySize }} guests · {{ guest.guestPhone }}
            </div>
          </div>
        </div>

      </div>
      <div class="pagination-row" *ngIf="cancelledGuest.length > itemsPerPage">
        <button (click)="changePage('cancelled', 'prev')" [disabled]="seatedPage === 1">
          Prev
        </button>

        <span>Page {{ cancelledPage }} / {{ cancelledTotalPages }}</span>

        <button (click)="changePage('cancelled', 'next')" [disabled]="cancelledPage === cancelledTotalPages">
          Next
        </button>
      </div>
    </div>
  </div>

  <div class="bottom-summary">
    <div>Total in waitlist <b>{{ pendingGuests.length + waitingGuests.length + notifiedGuests.length +
        seatedGuests.length }}</b></div>
    <div>⏳ Pending <b>{{ pendingGuests.length }}</b></div>
    <div>🕘 Waiting <b>{{ waitingGuests.length }}</b></div>
    <div>🔔 Notified <b>{{ notifiedGuests.length }}</b></div>
    <div>🪑 Seated Today <b>{{ seatedGuests.length }}</b></div>
  </div>
</div>


<div class="modal-backdrop" *ngIf="showApproveModal">
  <div class="approve-modal">
    <h2>Approve Guest</h2>

    <div class="guest-preview" *ngIf="selectedGuest">

      <h3>{{ selectedGuest.guestName }}</h3>
      <p>{{ selectedGuest.guestPhone }}</p>

      <div class="guest-details">
        <span>👥 {{ selectedGuest.partySize }} Members</span>
        <span>{{ selectedGuest.preference || 'No preference' }}</span>
        <span>{{ selectedGuest.notes || 'No notes' }}</span>
      </div>
    </div>

    <label class="time-label">Select wait time</label>
    <div class="time-options">
      <button *ngFor="let time of waitTimeOptions" type="button" [class.active]="selectedWaitTime === time"
        (click)="selectedWaitTime = time">
        {{ time }} min
      </button>
    </div>

    <div class="modal-actions">
      <button class="cancel-btn" (click)="closeApproveModal()">
        Cancel
      </button>
      <button class="modal-approve-btn" [disabled]="isApproving" (click)="approveSelectedGuest()">
        {{ isApproving ? 'Approving...' : 'Approve Guest' }}
      </button>
    </div>
  </div>
</div>

<div class="modal-backdrop" *ngIf="showRejectModal">
  <div class="approve-modal" *ngIf="selectedGuest">
    <h2>Reject Guest</h2>

    <div class="modal-actions">
      <button class="cancel-btn" (click)="closeRejectModel()">
        Cancel
      </button>
      <button class="modal-approve-btn" [disabled]="isRejecting" (click)="rejectGuest(selectedGuest.id)">
        {{ isRejecting ? 'Rejecting...' : 'Reject Guest' }}
      </button>
    </div>
  </div>
</div>



<div class="modal-backdrop" *ngIf="showTable">
  <div class="approve-modal" *ngIf="selectedGuest">
    <h2>Seat Guest</h2>

    <label class="time-label">Available Tables</label>
    <div class="time-options">
      <button *ngFor="let table of openTables" type="button" [class.active]="selectedTable?.id === table.id"
        (click)="selectedTable = table">
        {{ table.tableNumber }} · {{ table.capacity}}
      </button>
    </div>
    <div class="modal-actions">
      <button class="cancel-btn" (click)="closeAvailableTabletModal()">
        Cancel
      </button>
      <button class="modal-approve-btn" [disabled]="!selectedTable"
        (click)="seatedGuestToTable(selectedGuest.id,selectedTable)">
        {{ isRejecting ? 'Seating...' : 'Seat Guest' }}
      </button>
    </div>
  </div>
</div>